# Purpose:
#
#   This requirements are Python packages that need to be installed to
#   successfully run tests, debug them or collect metrics from the run.

#######################
# Debugging           #
#######################

ipdb

#######################
# Coding style        #
#######################

flake8
pep8-naming

#######################
# Testing             #
#######################

pytest
pytest-cov
deepdiff
