# Purpose:
#
#   This requirements are Python packages that need to be installed to
#   successfully run tests, debug them or collect metrics from the run.

#######################
# Debugging           #
#######################

ipdb

#######################
# Coding style        #
#######################

flake8
# pep8-naming>=0.14.0 doesn't support Python 3.7
pep8-naming; python_version > "3.7"
pep8-naming<0.14.0; python_version == "3.7"

#######################
# Testing             #
#######################

pytest
pytest-cov
deepdiff
