include README.rst LICENSE
include requirements.txt requirements.dev.txt

recursive-include test test_*.py

recursive-include doc conf.py *.rst
recursive-include doc/_static *.png *.css
recursive-include doc/_templates *.html

global-exclude __pycache__ *.py[co]
