# Sphinx
sphinx
guzzle_sphinx_theme
sphinxcontrib-plantuml
autoapi

# AutoAPI imports dependencies
pytest===2.8.4

# Platform engines
-e git+https://github.com/HPENetworking/topology_docker.git@master#egg=topology_docker
-e git+https://github.com/HPENetworking/topology_connect.git@master#egg=topology_connect

# Communication libraries
topology_lib_ping
topology_lib_ip

-e git+https://git.openswitch.net/openswitch/ops-topology-lib-vtysh@master#egg=topology_lib_vtysh
