flake8
pep8-naming
tox
pytest
pytest-cov
deepdiff
sphinx
sphinx_rtd_theme
sphinxcontrib-plantuml

# update this when pynml is on pypi
-e git+git@github-sc-p.corp.hp.com:TestingGroup/pynml.git@master#egg=pynml
