importlib-metadata; python_version < "3.8"
six
# Why pinning pexpect to 4.6?
# pexpect 4.5 introduced the use_poll keyword argument to allow
# using more than 1024 file descriptors by the means of using poll()
# In 4.6 a bug was fixed in the implementation that hanged and didn't
# timeout as expected.
pexpect>=4.6
pyparsing
pynml
pyszn>=1.4.0
typing_extensions
pprintpp
deepdiff
