# Purpose:
#
#   This requirements are Python packages that need to be installed in order
#   to successfully generate the project's documentation.

sphinx
autoapi>=1.4.1
plantweb
sphinx-readable-theme

# Framework documentation
pytest
-e git+https://github.com/HPENetworking/topology_docker.git#egg=topology_docker
-e git+https://github.com/HPENetworking/topology_connect.git#egg=topology_connect
-e git+https://github.com/HPENetworking/topology_lib_ping.git#egg=topology_lib_ping
-e git+https://github.com/HPENetworking/topology_lib_ip.git#egg=topology_lib_ip
