/* Improve autodoc */

/* Show reference in a box */
dl.class,
dl.function,
dl.exception,
dl.data {
    background: #fafafa;
    border: 1px solid #e0e0e0;
    padding: 1em;
}

dl.class em,
dl.function em,
dl.exception em,
dl.data em {
    font-style: normal;
}

/* Extend reference heads to the width */
dl.class dt,
dl.function dt,
dl.exception dt,
dl.data dt {
    width: 100% !important;
}

/* Improve box spacing */
dl.class dd,
dl.function dd,
dl.exception dd,
dl.data dd {
    margin: 0 !important;
    padding: 15px !important;
}

/* Remove namespace in reference, we know where we are thank you */
dl.class dt code.descclassname,
dl.function dt code.descclassname,
dl.exception dt code.descclassname,
dl.data dt code.descclassname {
    display: none !important;
}

/* Make mages responsive */
.container-wrapper img {
    max-width: 100%;
}

/* PlantUML SVGs */
object[type="image/svg+xml"] {
    max-width: 100%;
    height: auto !important;
}

/* Guzzle theme fixes */
.container.float-right {
    float: right;
    width: initial;
}

.section h1 code {
    font-size: 1em;
}


/* Guzzle theme overrides */
@font-face {
  font-family: 'FiraSans';
  font-style: normal;
  font-weight: 300;
  src: local('FiraSans Light'), local('FiraSans-Light'), url(../fonts/FiraSans-Light.woff) format('woff');
}
@font-face {
  font-family: 'FiraSans';
  font-style: normal;
  font-weight: 400;
  src: local('FiraSans'), local('FiraSans-Regular'), url(../fonts/FiraSans-Regular.woff) format('woff');
}
@font-face {
  font-family: 'FiraSans';
  font-style: normal;
  font-weight: 600;
  src: local('FiraSans SemiBold'), local('FiraSans-SemiBold'), url(../fonts/FiraSans-SemiBold.woff) format('woff');
}
@font-face {
  font-family: 'FiraSans';
  font-style: normal;
  font-weight: 700;
  src: local('FiraSans Bold'), local('FiraSans-Bold'), url(../fonts/FiraSans-Bold.woff) format('woff');
}
@font-face {
  font-family: 'FiraMono';
  font-style: normal;
  font-weight: 400;
  src: local('FiraMono'), local('FiraMono-Regular'), url(../fonts/FiraMono-Regular.woff) format('woff');
}

body {
    font-family: FiraSans,'Open Sans',sans-serif;
    background-color: #ffffff;
    color: #3a4145;
}

p {
    color: #3a4145;
    font-size: 1.1em;
    line-height: 1.8em;
}

a, a:hover, a:focus {
    text-decoration: none;
    color: #57a3e8;
}

h1, h2, h3, h4, h5, h6 {
    color: #3a4145;
    text-rendering: optimizeLegibility;
    line-height: 1em;
    font-family: FiraSans,'Open Sans',sans-serif;
}

li {
    line-height: 1.9em;
}

dl dd {
    line-height: 1.8em;
}

#right-column {
    border-right: 1px solid #e0e0e0;
}

.footer {
    border-right: 1px solid #e0e0e0;
}
